<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
		<script src=" https://cdn.jsdelivr.net/npm/markdown@0.5.0/lib/markdown.min.js "></script>

		<title>{{current.title}}</title>

		<script>
			window.onload = (e) => {
				document.getElementById("chapter_text").innerHTML = markdown.toHTML( {{current.content | tojson }} )
			}
		</script>
	</head>
	<body>
		<header class="container">
			<nav>
				<ul>
					<li><strong>Shadow Slave</strong></li>
				</ul>

				<ul>
					<li>
						<select name="select" aria-label="Select" required value="645" onchange="window.open( this.value, '_self' )">
							{% for ch in chapters %}
							<option {% if ch.id == current.id %} selected {% endif %} value="{{ch.id}}">{{ch.id}} - {{ch.title}}</option>
							{% endfor %}
						</select>
					</li>
				</ul>
			</nav>
		</header>

		<main class="container">
			<h3>{{current.id}} - {{current.title}}</h3>

			<div id="chapter_text"></div>
		</main>

		<footer class="container">

			<nav>
				<ul> {% if previous %} <li> <a href="../{{previous.id}}">Предыдущая глава</a> </li> {% endif %} </ul>

				<ul> {% if next %} <li> <a href="../{{next.id}}">Следующая глава</a> </li> {% endif %}  </ul>
			</nav>

		</footer>
	</body>
</html>
